/* You can add global styles to this file, and also import other style files */
.icon-block {
    padding: 0 15px;
  }

.icon-block .material-icons {
      font-size: inherit;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
